@model ToDoWebApp.Models.ToDo
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure ToDo app</h1>
    <p class="lead">Demonstrating: .NET Web App, SQL, DocumentDB, ServiceBus, Function Apps, Application Insights</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>ToDo</h2>
        <p>
            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
            new
            {
                @class = "form-horizontal",
                @novalidate = "novalidate",
                @id = "validation-form"
            }))
            {
                @Html.HiddenFor(m => m.Id)
                <fieldset>
                    <div class="form-group">
                        @Html.LabelFor(m => m.GId, "GID", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.GId, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Note, "Note", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Created, "Created", new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Created, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </fieldset>
                <div class="btn-toolbar">
                    <button type="submit" name="Save" value="Save" class="btn btn btn-primary">Save changes</button>
                </div>
            }
        </p>
    </div>
    <div class="col-md-6">
        <h2>ToDo comments</h2>
        <p>ToDo application demonstrating Azure technologies like Azure SQL Database, DocumentDB, Service Bus, Function App and Application Insights running on Azure Web App.</p>
        <p>@Html.ActionLink("Create ToDo", "Detail",
          new { controller = "Home", id = 0 },
          new { @class = "btn btn-primary" })</p>
    </div>
</div>